{% extends 'auth_base.html' %}

{% load static %}
{% block content %}


    <div class="col-md-6">
        <div class="pricing_wrap">
            <h3 style="padding: 20px;">Login</h3>
            <div style="padding: 20px 20px 20px 20px ;" class="contact_form">
                <form method="post" action="{% url 'account_login' %}" >
                    {% csrf_token %}
                    <div class="form-group">
                        <input id="id_login" name="login" type="email" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input id="id_password" name="password" type="password" placeholder="Password">
                    </div>

                    <div class="form-group">
                        <input name="" type="submit" class="btn active_btn">
                    </div>
                </form>
            </div>

        </div>
    </div>





{% endblock %}